asn1crypto==1.0.1
Brotli==1.0.9
certifi==2020.6.20
chardet==3.0.4
cryptography==2.7
cycler==0.10.0
futu-api==5.1.1320
idna==2.8
iexfinance==0.5.0
influxdb==5.3.1
kiwisolver
matplotlib
mongoengine
msgpack
numpy
olefile==0.46
pandas==0.24.2
peewee
Pillow
plotly
protobuf==3.5.1
pycosat==0.6.3
pycparser==2.19
pycryptodome
pymongo==3.11.3
PyMySQL
pyOpenSSL==19.0.0
pyparsing
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyqtgraph
PySocks==1.7.1
python-dateutil
python-rapidjson==1.0
pytz
pyzmq==20.0.0
QDarkStyle==2.8.1
QScintilla==2.12.1
QtPy==1.9.0
requests==2.22.0
retrying==1.3.3
ruamel-yaml==0.15.46
scipy
seaborn
simplejson
six==1.13.0
SQLAlchemy==1.3.23
TA-Lib
toolz
tornado
tqdm==4.36.1
trading-calendars
tzlocal
urllib3==1.24.2
websocket-client
